pipeline/postgresspracticewithoutincremental.json
{
	"name": "postgresspracticewithoutincremental",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Postgreswatermarktable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Data flow without incremental column",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Lookupmaintablefornewvalue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "withoutincrementalcolumn",
									"type": "DataFlowReference",
									"parameters": {
										"source_table": {
											"value": "'@{item().table_name}'",
											"type": "Expression"
										},
										"target_table": {
											"value": "'@{item().table_name}'",
											"type": "Expression"
										},
										"upsert_column": {
											"value": "'@{item().upsert_column}'",
											"type": "Expression"
										},
										"watermark_value": {
											"value": "'@{item().watermark_value}'",
											"type": "Expression"
										},
										"new_watermark_value": {
											"value": "'@{activity('Lookupmaintablefornewvalue').output.firstRow.new_watermark}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"source_table_name": {
												"value": "@item().table_name",
												"type": "Expression"
											}
										},
										"sink1": {
											"sink_name": {
												"value": "@item().table_name",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Lookupmaintablefornewvalue",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "select max(last_modified) as new_watermark from @{item().table_name}",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Postgredynamicsource",
									"type": "DatasetReference",
									"parameters": {
										"source_table_name": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}